/Calculator.class
/CalculatorV.class
/DoubleList.class
/DoubleNode.class
/DriverProgram.class
/FactoryList.class
/FactoryStack.class
/FileReader.class
/IStack.class
/InfixReader.class
/List.class
/Node.class
/Operator.class
/SimpleList.class
/SingletonException.class
/Stack.class
/StackArrayList.class
/StackList.class
/StackVector.class
/Test.class
